%h1 
  Courses:
  = @courses.count

.row 
  .col-md-2 
    = search_form_for @query do |f|
      = f.label :title
      = f.search_field :title_cont, placeholder: 'Title', class: 'form-control form-control-sm'
      = f.label :description
      = f.search_field :short_description_cont, placeholder: 'Description', class: 'form-control form-control-sm'
      = f.label :language
      = f.select :language_cont, Course.languages, include_blank: true, class: 'form-control form-control-sm'

      = f.label :level
      = f.select :level_cont, Course.levels, include_blank: true, class: 'form-control form-control-sm'

      = f.label :price
      = f.search_field :price_eq, placeholder: 'Price', class: 'form-control form-control-sm'
      = f.label :teacher
      = f.search_field :user_email_cont, placeholder: 'Email', class: 'form-control form-control-sm'
      = f.submit
    = link_to 'refresh', courses_path

  .col-md-10
    .row
      - @courses.each do |course|
        = render 'courses/course', course: course

%br

= link_to 'New Course', new_course_path
