- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", :role => "alert"}
      %button.btn-close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      = content_tag :div, msg, :id => "flash_#{name}"